*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    z-index: 10;
    
}
header .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
header .logo img{
   height: 50px;
   width: 50px;
}
header .logo p{
    padding-left: 15px;
    font-weight: bold;
    
}