@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Orbitron:wght@400..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    z-index: 10;
   
}
header .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
header .logo img{
   height: 50px;
   width: 50px;
}
header .logo p{
    padding-left: 15px;
    font-weight: bold;
    font-family:"Orbitron", sans-serif;
   
}
header .nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 12px 0;
}
header .nav li{
    list-style: none;
    margin: 0 15px;


}
header .nav li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family:"Orbitron", sans-serif;


}
.undercolor {
    background-color: #ef1a2d; 
    height: 10px;              
    width: 100%;
}
.title{
   text-align: center;
   padding: 40px 20px;
   background: var(--bg-gray);
}
.title h1{
 font-family: "Zalando Sans Expanded", sans-serif;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 2.5rem;
}
.title img{
    width: 100%;
    height: auto;
    max-width: 800px;
    border-radius:4px;
    box-shadow:0 10px 20px rgba(0,0,0,0.1);
}
.container{
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 20px;
}
.maincontent{
   flex: 1 1 100%;
   

}
.maincontent p{
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    text-align: justify;


}
.maincontent h1{
     font-family: "Zalando Sans Expanded", sans-serif;
     font-size: 25px;
}
.maincontent img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
}
.sidebar {
    flex: 1 1 100%;
    background: var(--bg-gray);
    padding: 25px;
    border-radius: 8px;
    height: fit-content;
}

.sidebar h3 {
    font-family: 'Orbitron';
    margin-bottom: 15px;
    border-bottom: 2px solid  #800101;
    padding-bottom: 5px;
 }

.recent-posts {
    list-style: none;
}

.recent-posts li {
    margin-bottom: 15px;
    border-bottom: 1px solid #800101;
    padding-bottom: 10px;
}

.recent-posts a {
    text-decoration: none;
    color: var(--text-dark);
    font-weight: bold;
    font-size: 0.9rem;
    font-family: zalando sans expanded, sans-serif;
 }
 .recent-posts a:hover {
    text-decoration: underline;
 }

.recent-posts a:hover {
    color: var(--ferrari-red);
}

       
@media screen and (min-width: 768px) {
 .maincontent {
    flex: 0 0 65%;
 }

.sidebar {
    flex: 0 0 calc(35% - 40px);
}
}
.footer-section{
    background-color:black ;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.footer-container{
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    text-align: center;
}
.footer-text{
    color: white;
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: "Zalando Sans Expanded", sans-serif;
}
@media(min-width:768px){
    .footer-container{
        max-width: 720px;
    }
    .footer-text{
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    header {
        justify-content: center; 
        padding: 15px 20px;      
    }
}
